@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Bree+Serif&display=swap");
body,
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

ul {
  width: 100%;
  list-style: none;
}

section {
  padding: 4rem 0;
}
@media (min-width: 768px) {
  section {
    padding: 10rem 0;
  }
}

input:focus,
textarea:focus {
  border: none;
  outline: none;
}

h1 {
  font-family: "Alegreya", serif;
  font-size: 2rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-family: "Alegreya", serif;
  font-size: 1.75rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 8rem;
  }
}

h3 {
  font-family: "Alegreya", serif;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 2.5em;
  }
}

p {
  font-family: "Bree Serif", serif;
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  p {
    font-size: 1.25rem;
  }
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #ffffff;
}

img {
  max-width: 100%;
}

.intersection-section {
  overflow: hidden;
}

.container-fluid {
  max-width: 1200px;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.image-wrapper {
  position: relative;
}

.btn {
  display: block;
  padding: 0.5rem 2rem;
  color: #ffffff;
  font-weight: 700;
  font-family: "Alegreya", serif;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .btn {
    font-size: 1.5rem;
  }
}
.btn.colored {
  background-color: #00bfb2;
}

.bg-secondary-black {
  background-color: #312f2f;
}

.bg-dark-grey {
  background-color: #383838;
}

#canvas-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#navbar {
  background-color: #474444;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
  display: flex;
  padding: 2rem 0;
}
#navbar ul {
  display: flex;
}
#navbar a {
  color: #ffffff;
  position: relative;
}
#navbar a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -10px;
  width: calc(100% + 20px);
  height: 10px;
  background-color: #474444;
  z-index: 1;
  transform: rotate(-10deg) translateY(12px);
}
#navbar a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 10px;
  width: 0%;
  background-color: #00bfb2;
  transition: width 250ms ease-in-out;
}
#navbar a:hover::after {
  width: 100%;
}

.profile-picture-wrapper {
  position: relative;
}
.profile-picture-wrapper .image-wrapper {
  width: 95%;
  margin: 2rem 0 0 auto;
}
.profile-picture-wrapper .horizontal-bar {
  z-index: 1;
  position: absolute;
  width: calc(100% + 20px);
  height: 10px;
  background-color: #ee2e31;
}
.profile-picture-wrapper .vertical-bar {
  z-index: 1;
  position: absolute;
  width: 10px;
  height: 90%;
  background-color: #3c91e6;
}
.profile-picture-wrapper .circles-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 1rem;
}
.profile-picture-wrapper .circles-wrapper .circle {
  overflow: hidden;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 1rem;
  background-color: #000000;
}
.profile-picture-wrapper .circles-wrapper .circle .fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  animation: circleFill 4s infinite;
}
.profile-picture-wrapper .circles-wrapper .circle:first-child {
  left: 0;
  animation: firstDot 4s infinite;
}
.profile-picture-wrapper .circles-wrapper .circle:first-child .fill {
  background-color: #ee2e31;
}
.profile-picture-wrapper .circles-wrapper .circle:nth-child(2) {
  left: calc(20px + 1rem);
  animation: secondDot 4s infinite;
}
.profile-picture-wrapper .circles-wrapper .circle:nth-child(2) .fill {
  height: 0%;
  width: 100%;
  top: unset;
  bottom: 0;
  background-color: #3c91e6;
}
.profile-picture-wrapper .circles-wrapper .circle:last-child {
  left: calc(40px + 2rem);
  animation: lastDot 4s infinite;
}
.profile-picture-wrapper .circles-wrapper .circle:last-child .fill {
  background-color: #00bfb2;
}

@keyframes firstDot {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 60px - 2rem);
  }
  60% {
    left: calc(100% - 60px - 2rem);
  }
  100% {
    left: 0;
  }
}
@keyframes secondDot {
  0% {
    left: calc(20px + 1rem);
  }
  40% {
    left: calc(100% - 40px - 1rem);
  }
  70% {
    left: calc(100% - 40px - 1rem);
  }
  100% {
    left: calc(20px + 1rem);
  }
}
@keyframes lastDot {
  0% {
    left: calc(40px + 2rem);
  }
  30% {
    left: calc(100% - 20px);
  }
  80% {
    left: calc(100% - 20px);
  }
  100% {
    left: calc(40px + 2rem);
  }
}
@keyframes circleFill {
  0% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
#plaid {
  position: relative;
  width: 100px;
  height: 100px;
}
#plaid .line {
  position: absolute;
  background-color: #383838;
}
#plaid .line.vertical {
  height: 100%;
  width: 5px;
  top: 0;
}
#plaid .line.vertical.one {
  left: 33.3%;
}
#plaid .line.vertical.two {
  left: 66.6%;
}
#plaid .line.horizontal {
  width: 100%;
  height: 5px;
  left: 0;
}
#plaid .line.horizontal.one {
  top: 33.3%;
}
#plaid .line.horizontal.two {
  top: 66.6%;
}

.skill-list .experience-bar {
  position: relative;
  background-color: grey;
  height: 15px;
  width: 100%;
  border-radius: 20px;
}
.skill-list .experience-fill {
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  height: 75%;
  border-radius: 20px;
}
.skill-list .experience-fill.primary {
  background-color: #3c91e6;
}
.skill-list .experience-fill.secondary {
  background-color: #00bfb2;
}
.skill-list .experience-fill.third {
  background-color: #ee2e31;
}

#see-more-wrapper {
  position: absolute;
  bottom: 75px;
  right: 0;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
}
#see-more-wrapper p {
  white-space: nowrap;
  margin-right: 2rem;
  animation: pulseText 750ms infinite;
}
#see-more-wrapper svg {
  width: 25px;
  transform: rotate(-90deg);
  fill: #ffffff;
  animation: pulseArrow 750ms infinite;
}

@keyframes pulseText {
  0% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(15px);
  }
}
@keyframes pulseArrow {
  0% {
    transform: translateX(20px) rotate(-90deg);
  }
  50% {
    transform: translateX(10px) rotate(-90deg);
  }
  100% {
    transform: translateX(20px) rotate(-90deg);
  }
}
.project {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.15);
}
.project::before, .project::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.project::before {
  background-color: #00bfb2;
  transform: translateY(-98%);
}
.project::after {
  background-color: #474444;
  transform: translateY(98%);
}
.project img {
  opacity: 1;
  transition: opacity 650ms ease-in-out;
}
.project .logo-wrapper {
  width: 100%;
  height: 45%;
  position: relative;
}
.project .logo-wrapper svg {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.project .link-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00bfb2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project .link-icon svg {
  width: 70%;
}
.project .link-wrap .inner-link-wrap {
  position: relative;
}
.project .link-wrap .inner-link-wrap svg {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  fill: #ffffff;
  transition: opacity ease-in-out 250ms;
}
.project .link-wrap p {
  transform: translateY(0);
  transition: transform 250ms ease-in-out;
}
.project .link-wrap:hover p {
  transform: translateY(27.5px);
}
.project .link-wrap:hover svg {
  opacity: 1;
}
.project .info {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 650ms ease-in-out;
}
.project:hover {
  cursor: pointer;
}
.project:hover::before {
  animation: topCurtain 650ms ease-in-out forwards;
}
.project:hover::after {
  animation: bottomCurtain 650ms ease-in-out forwards;
}
.project:hover img {
  opacity: 0;
}
.project:hover .info {
  opacity: 1;
}

@keyframes topCurtain {
  20% {
    transform: translateY(-49%);
  }
  80% {
    transform: translateY(-49%);
  }
  100% {
    transform: translateY(-98%);
  }
}
@keyframes bottomCurtain {
  20% {
    transform: translateY(49%);
  }
  80% {
    transform: translateY(49%);
  }
  100% {
    transform: translateY(98%);
  }
}
#contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact-form input:not([type=submit]),
#contact-form textarea {
  width: 100%;
  background-color: #474444;
  color: #ffffff;
  transition: background-color 250ms ease-in-out;
  border: none;
}
#contact-form input:not([type=submit]) {
  padding: 1rem;
}
#contact-form input:not([type=submit]):focus {
  background-color: transparent;
}
#contact-form textarea {
  margin-bottom: -5px;
}
#contact-form textarea:focus {
  background-color: transparent;
}
#contact-form .underline {
  height: 2px;
  width: 0%;
  background-color: red;
  transition: width 250ms ease-in-out;
}
#contact-form .underline.focused {
  width: 100%;
}

#contact-list li {
  width: 100%;
}
#contact-list li a {
  width: 100%;
  display: flex;
  align-items: center;
  transition: color ease-in-out 500ms;
}
#contact-list li a .icon-wrapper {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00bfb2;
}
#contact-list li a .icon-wrapper svg {
  width: 50%;
  fill: #ffffff;
}
#contact-list li a:hover {
  color: #d1cece;
}

.fadeUp {
  transform: translateY(50px);
  opacity: 0;
  transition: all ease-in-out 500ms;
}
.fadeUp.activate {
  transform: translateY(0);
  opacity: 1;
}
.fadeUp.activate.skewed {
  transform: translateY(-20px);
}

.fadeLeft {
  transform: translateX(100px);
  opacity: 0;
  transition: all ease-in-out 500ms;
}
.fadeLeft.activate {
  transform: translateX(0);
  opacity: 1;
}
.fadeLeft.activate.skewed {
  transform: translateX(-20px);
}

.fadeDown {
  transform: translateY(-50px);
  opacity: 0;
  transition: all ease-in-out 500ms;
}
.fadeDown.activate {
  transform: translateY(0);
  opacity: 1;
}

.fillBar {
  width: 0%;
  transition: width ease-in-out 500ms;
}

/*# sourceMappingURL=style.css.map */
